body{
	width:900px;
	font-family: 'Barrio', cursive;
	padding: 450px;
}

.container{
	display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px;
    grid-gap: 5px;
}

.letter {
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border-radius: 6px;
    padding: 25px;
    text-align: center;
    font-size: 120%;
}

input[type=text]{
	width: 105px;
}

input[type=submit] {
  font-family: 'Barrio', cursive;
  background-color: #444;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size:16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;
  width: 180px;
  float: right;
  margin-right: 150px;
}
